/* Global */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --dark-blue: hsl(220, 100%, 28%);
    --bright-blue: hsl(220, 100%, 36%);
    --yellow: hsl(50, 100%, 73%);
    --red: hsl(0, 100%, 50%);

    --dark-blue-shadow: hsl(220, 100%, 24%);

    --page-width: 75%;

    --h1-size: 50px;
    --h2-size: 40px;
    --h3-size: 30px;
    --h4-size: 20px;

    --text-font-size: 22px;
    --btn-font-size: 18px; /* btn = button */

    --text-shadow: hsl(0, 0%, 0%);
}
html, body { height: 100%; }
body {
    background-image: url('../layout/fundo_1.png');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
h1, h2, h3 { color: var(--yellow); }
p { font-size: var(--text-font-size); }

/* Page Container */
#page-container {
    background-color: var(--bright-blue);
    width: var(--page-width);
    text-align: center;
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
    border-radius: 10px;
}

/* Header */
header {
    width: 100%;
    position: absolute;
    top: -75px;
}
header h1 {
    background-color: var(--dark-blue);
    display: inline-block;
    padding: 25px 25px 25px 25px;
    font-size: var(--h1-size);
    box-shadow: var(--dark-blue-shadow) 0px 30px;
    border-radius: 10px;
    font-family: cursive;
}
header #span-on {
    font-size: var(--h4-size);
}

/* Main */
main {
    background-color: var(--dark-blue);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: var(--dark-blue-shadow) 0px 30px;
}

/* H2 */
h2 {
    text-align: center;
    font-size: var(--h2-size);
    margin-bottom: 10px;
    text-shadow: var(--text-shadow) 0px 3px;
}
h2 .switch-span {
    cursor: pointer;
    margin: auto 25px;
    font-weight: 900;
    font-size: 50px;
}

/* Suggestions ul */
ul {
    margin-top: 10px;
    list-style-type: none;
    text-align: left;
    padding: 20px;
    font-size: var(--text-font-size);
}

/* LI */
li { margin-bottom: 15px; }

/* LI buttons*/
li button {
    cursor: pointer;
    padding: 3px 10px;
    margin: 5px 5px auto auto;
    font-size: var(--btn-font-size);
}

button.li-edit-btn { background-color: var(--yellow); }

button.li-delete-btn { background-color: var(--red); }