/* Geral */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style-type: none;
}

#body {
    background-image: url('../../layout/fundo_2.png');
    background-size: cover;
    background-attachment: fixed;
}

/* Page Container */
#page-container {
    max-width: 75%;
    margin: 3% auto;
}

/* Header */
#header #header-title {
    background-color: rgb(0 47 142);
    width: fit-content;
    padding: 15px 60px;
    border-radius: 25px;
    box-shadow: rgb(0 40 122) 0px 30px; 
    margin: auto;
}
#header #h1 {
    color: #ffe876;
    font-family: cursive;
    text-shadow: rgb(0, 0, 0) 0px 4px;
    font-size: 50px;
}
#header #span-on {
    font-size: 20px;
}

/* Main */
#main-container {
    position: relative;
}

#main {
    background-color: rgb(0, 62, 186);
    position: absolute;
    width: 100%;
    border-radius: 25px;
    color: white;
    z-index: -1;
    padding: 30px;
}

#grid-container {
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: rgb(0 47 142);
}

#question-section {
    padding: 15px;
    border-right: black 1px solid;
}

#players-overview {
    padding: 15px;
}


/* Question Section */
#question-section {
    padding-top: 20px;
}
.h2 {
    display: flex;
}
#question-options {
    margin: 30px 0px;
    font-size: 18px;
}
#question-options li {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}

#question-info {
    background-color: hsl(220, 100%, 36%);
    width: fit-content;
    color: rgb(255, 255, 255);
    font-size: 18px;
    display:grid;
    text-align: left;
    margin-left: auto;
    padding: 10px;
    border-radius: 10%;
}

.question-info-data {
    color: rgb(255, 232, 118);
}

.rounded-character {
    background-color: hsl(213, 100%, 68%);
    border-radius: 50%;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    vertical-align: middle;
    padding: 5px 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    border: rgba(255, 255, 255, .3) solid 2px;
    
}

.rounded-text {
    background-color: hsl(213, 100%, 68%);
    border-radius: 10px;
    display: inline-block;
    width: fit-content;
    padding: 5px;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    background-color: rgba(0, 0, 0, .3);
    border: rgba(255, 255, 255, .3) solid 2px;
}
.vertical-center {
    display: grid;
}