/* Global */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --dark-blue: hsl(220, 100%, 28%);
    --bright-blue: hsl(220, 100%, 36%);
    --yellow: hsl(50, 100%, 73%);
    --red: hsl(0, 100%, 50%);
    --green: hsl(122, 54%, 48%);

    --dark-blue-shadow: hsl(220, 100%, 24%);
    --green-shadow: hsl(118, 74%, 31%);

    --page-width: 75%;

    --h1-size: 50px;
    --h2-size: 40px;
    --h3-size: 30px;
    --h4-size: 20px;

    --text-font-size: 22px;
    --btn-font-size: 18px; /* btn = button */

    --text-shadow: hsl(0, 0%, 0%);
}
html { height: 100%; }

body {
    margin-top: 10%;
    background-image: url('../../layout/fundo_1.png');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
h1, h2, h3 { color: var(--yellow); font-family: cursive;}
p { 
    font-size: var(--text-font-size); 
    margin-top: 20px;
}

/* Page Container */
#page-container {
    background-color: var(--bright-blue);
    width: var(--page-width);
    text-align: center;
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
    border-radius: 10px;
}

/* Header */
header {
    width: 100%;
    position: absolute;
    top: -75px;
}
header h1 {
    background-color: var(--dark-blue);
    display: inline-block;
    padding: 25px 25px 25px 25px;
    font-size: var(--h1-size);
    box-shadow: var(--dark-blue-shadow) 0px 30px;
    border-radius: 10px;
}
header #span-on {
    font-size: var(--h4-size);
}

/* Main */
main {
    background-color: var(--dark-blue);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: var(--dark-blue-shadow) 0px 30px;
    padding: 10px;
}

/* H2 */
h2 {
    text-align: center;
    font-size: var(--h2-size);
    margin-bottom: 10px;
    margin-top: 20px;
    text-shadow: var(--text-shadow) 0px 3px;
}

/* choices, right and left */
#options {
    display: flex;
    flex-direction: row;
}
#left-option, #right-option {
    display: inline-block;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    width: 100%;
    border-radius: 5px;
}
#left-option {
    background-color: hsl(202, 100%, 50%);
    padding: 30px;
    margin-right: 5px;
}
#right-option {
    background-color: hsl(70, 40%, 50%);
    padding: 30px;
}

/* Percentages */
#left-percentage, #right-percentage {
    font-size: 45px;
    margin-top: 10px;
}

/* voters */
#voters {
    overflow: auto;
    overflow-y: hidden;
    margin-top: 20px;
    text-align: left;
    padding: 10px 0px;
}

#voters span {
    background-color: black;
    padding: 5px;
    font-size: 20px;
    margin-right: 5px;
}

/* Overview */
#overview { display: none; }
div.reason {
    background: var(--bright-blue);
    padding: 10px;
    margin-top: 10px;
}
div.reason p {
    font-size: 30px;
    margin-bottom: 10px;
    color: black;
}
div.reason div{
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
}
div.reason div span {
    font-size: 25px;
    padding: 10px;
    background-color: var(--dark-blue-shadow);
    margin-right: 10px;
}

/* Button */
#stop-btn {
    font-size: 20px;
    padding: 9px 26px;
    background-color: var(--green);
    text-align: center;
    box-shadow: var(--green-shadow) 0px 8px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 900;
    cursor: pointer;
    margin-top: 50px;
}
#next-btn {
    display: block;
    font-size: 20px;
    padding: 9px 26px;
    background-color: var(--green);
    text-align: center;
    box-shadow: var(--green-shadow) 0px 8px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 900;
    cursor: pointer;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 50px;
}