/* Global */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --dark-blue: hsl(220, 100%, 28%);
    --bright-blue: hsl(220, 100%, 36%);
    --yellow: hsl(50, 100%, 73%);
    --red: hsl(0, 100%, 50%);
    --green: hsl(122, 54%, 48%);

    --dark-blue-shadow: hsl(220, 100%, 24%);
    --green-shadow: hsl(118, 74%, 31%);

    --page-width: 75%;

    --h1-size: 50px;
    --h2-size: 40px;
    --h3-size: 30px;
    --h4-size: 20px;

    --text-font-size: 22px;
    --btn-font-size: 18px; /* btn = button */

    --text-shadow: hsl(0, 0%, 0%);
}
html { height: 100%; }

body {
    margin-top: 10%;
    background-image: url('../../layout/fundo_1.png');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
h1, h2, h3 { color: var(--yellow); font-family: cursive;}
p { 
    font-size: var(--text-font-size); 
    margin-top: 20px;
}

/* Page Container */
#page-container {
    background-color: var(--bright-blue);
    width: var(--page-width);
    text-align: center;
    position: relative;
    padding-top: 80px;
    padding-bottom: 50px;
    border-radius: 10px;
}

/* Header */
header {
    width: 100%;
    position: absolute;
    top: -75px;
}
header h1 {
    background-color: var(--dark-blue);
    display: inline-block;
    padding: 25px 25px 25px 25px;
    font-size: var(--h1-size);
    box-shadow: var(--dark-blue-shadow) 0px 30px;
    border-radius: 10px;
}
header #span-on {
    font-size: var(--h4-size);
}

/* Main */
main {
    background-color: var(--dark-blue);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: var(--dark-blue-shadow) 0px 30px;
    padding: 10px;
}

/* options */
#options {
    display: flex;
    flex-direction: row;
}
#options textarea {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

/* author */
#author-input {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
}

/* button */
#send_btn {
    font-size: 20px;
    padding: 7px 30px;
    background-color: var(--green);
    text-align: center;
    box-shadow: var(--green-shadow) 0px 8px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 900;
    cursor: pointer;
    margin: 10px auto;
}